#export ANTHROPIC_CUSTOM_HEADERS="x-memory-user-id: litellm"
#export ANTHROPIC_BASE_URL="http://localhost:8764"
#export ANTHROPIC_CUSTOM_HEADERS="x-memory-user-id: litellm"

export TYPE_CHECKING=True
export DATABASE_URL="postgresql://admin:admin@localhost:5432/litellm"

export REDIS_URL=redis://:sk-1234@localhost:6379
export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_PASSWORD=sk-1234

export LITELLM_VIRTUAL_KEY=sk-_MN42mvuP-iqkdLvauYZ5w

export OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
export OTEL_SERVICE_NAME=litellm-proxy
export OTEL_DEBUG="True"
export OTEL_EXPORTER_OTLP_PROTOCOL=http/json
export OTEL_EXPORTER_OTLP_HEADERS=""
export SUPERMEMORY_API_KEY='sm_QcByjXoSBWceAnA8PB5sde_EddoiUyplQTGJjTksHjPkwrxnVVHYQUlEXGLQCbAnQDWyHNxtVMlKbQiszUznRfk'
export SUPERMEMORY_USERNAME=litellm

# LiteLLM UI Credentials
export LITELLM_MASTER_KEY="sk-1234"
export UI_USERNAME="admin"
export UI_PASSWORD="admin"
