export ANTHROPIC_CUSTOM_HEADERS="x-memory-user-id: litellm"
export ANTHROPIC_BASE_URL="http://localhost:8764"
export DATABASE_URL="postgresql://admin:admin@localhost:5432/litellm"
export REDIS_HOST=localhost
export REDIS_PORT=6378
export REDIS_PASSWORD=sk-1234
#LITELLM_VIRTUAL_KEY

export OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
export OTEL_SERVICE_NAME=litellm-proxy
